@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(32, 39, 51, 1);
  max-width: 100vw;
  height: 100vh;
}
.box{
  background-color: rgba(49, 58, 72, 1);
  border-radius: 10px;
  margin: 120px 16px 232px 16px;
}
p{
  font-family: 'Manrope', sans-serif;
  font-size: 11px;
  text-align: center;
  letter-spacing: 3.45714px;
  color: rgba(83, 255, 170, 1);
  margin-top: 40px;
  margin-bottom: 25px;
}
h1{
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.257143px;
  color: rgba(206, 227, 233, 1);
  margin-left: 24px;
  margin-right: 24px;
}